/* nav bar */
nav a {
  text-decoration: none;
  margin-right: 30px;
  font-size: 20px;
  color: Navy;
}

nav a.active {
  color: gold;
  text-decoration: underline;
}
.logout {
  color: navy !important;
  text-decoration: none !important;
}

img {
  width: 70px;
}
